*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #252525;
  color: #f7f7f7;
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.container {
  max-width: 1240px;
  height: 100vh;
  margin: 0 auto;
  padding: 0 30px;

  @media (max-width: 1024px) {
    padding: 0 20px;
  }

  @media (max-width: 768px) {
    padding: 0 15px;
  }

  @media (max-width: 480px) {
    padding: 0 10px;
  }
}
