.list {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;

  &__link {
    text-decoration: none;
    color: inherit;
  }

  &__item {
    padding: 15px;
    border: 1px solid #a3a3cd;
    border-radius: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px) {
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }
  }

  &__left {
    display: flex;
    gap: 10px;
  }
}
